{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: White;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: Arial;
    cursor: pointer;
    transition: .3s ease-in;
}
li:hover{
    background-color: Red;
}

.form-group {
    margin-bottom: 1rem;
    
}


/* ---------------Utility Style----------------- */



/* ---------------Responsive Image----------------- */
img{
  max-width:100%;
  height:auto;
}

logo{
    max-width:100%;
        height:auto;
}

/* ---------------Global Styles----------------- */


body{
color: #ffffff;
  font-family: 'cursive';
  margin:0;
  background-image: url(https://wallpapercave.com/wp/wp2910967.jpg);
  background-repeat: no-repeat;
  background-size: cover;
        
}


#quote blockquote{
  background: rgba(255,0,0,0.3);
  padding:40px 50px;
  font-size: 1.2em;
  border: 8px double grey;
  border-radius: 35px;
}


#posts {
  display: flex;
  justify-content:space-between;
  }

#post-date{
    text-align: center;
    text-color: white;
}

#post-meta{
    text-align: center;
    text-color: white;
}


#search {
    color: #ba3a30;
    background-color: #fff;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#musician-searchable {
    margin-top: 20px;
}


.resultsBanner {
  display: inline;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(0,0,0,1);
  max-width:200px;
}

#allmusiciansList {
  text-align: center;
  text-color:red;
  font-size:18px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

#allmusiciansList > div {
  box-shadow: 5px 5px 15px Red;
}

#alleventsList {
  text-align: center;
  text-color:red;
  font-size:20px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

#alleventsList > div {
  box-shadow: 5px 5px 15px maroon;
}
h1{
   text-align: center;
    color: White;
    font-size:35px;
}

h2 {
 text-align: center;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

